.container{
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 400px;
    background-color: black;
    padding: 20px;
    background: rgb(253, 146, 146);    
    border: 1px solid #ffffff;
    border-radius: 30px;
    font-size: 30px;
}
.input-section{
    width: 400px;
    font-size: 15px;
    height: 30px;
    display: flex;
    align-content: space-between;
    

}
#todo-text{
    width: 250px;
    height: 30px;
    border-radius: 30px;
    font-size: 15px;
    background: #5c2a2a;
    border-color: white;

}
#todo-text :hover{
    color: grey;
}
.save-btn{
    color:black;
    border-radius: 20px;
    font-size: 15px;
    width: 60px;
    height: 35px;
    background: #5c2a2a;
    border-color: white;
}
#todo-list{
    position: relative;
}